body{
    font-family: Arial, sans-serif;
    
}
header {
    background-color: #2575fc;
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-branding {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.logo-text {
    color: white;
    font-size: 1.5em; 
    font-weight: bold;
    margin-bottom: 2px;
}
.logo-icon {
    color: #b3e6b3;
    position: relative;
    top: -2px; 
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 0 5px;
}
  
.search-bar input {
    border: none;
    outline: none;
    padding: 8px 12px;
    width: 200px;
    border-radius: 20px;
}
  .search-bar button {
    background-color: white;
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
}
  .search-bar button:hover {
    background-color: #2575fc;
    
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a {
  color: white;
  background-color: #2575fc;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2575fc;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  top: 40px;
  left: 0;
  z-index: 20;
}

.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
}

.dropdown-content a:hover {
  background-color: #1e63e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.booking-container {
  max-width: 900px;
  margin: 60px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.booking-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #0d47a1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.form-group.full {
  width: 100%;
}

.btn-book {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  width: 120px;
  text-align: center;

}
.btn-book:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
